* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  overflow: hidden;
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column
}

.wrapper-col {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 360px;
}

.sq {
  width: 18px;
  height: 18px;
  background-color: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 0.2px #000;
  transition: 500ms ease;
}

.sq:hover {
  transition-duration: 0s;
}

#setColor {
  opacity: 0;
}

#setRandomColors {
  background-color: limegreen;
}